li.comment
  span.downvotes
    a(href='/' + comment.id + '/downvote', class="down") &darr;
    = comment.downVotes
  p= comment.comment
  br
  small
    \ submitted #{relativeDate(comment.created)}
    \ | 
    a(href='/' + comment.id + '/comment') reply
  - if (comments[comment.id])
    ul.comments
      != partial('comment', {collection: comments[comment.id], comments: comments, i: i+1});
