!!! 5
html(lang="en")
  head
    title Downit
    link(rel="stylesheet", href='/css/style.css')

  body
    .container
      h1 Downit
      ul
        li
          a(href='/') Home
        li
          a(href='/submit') Submit
      != body
