p= parent.comment
form(method='post', action='/' + parent.id + '/comment')
  input(type='hidden', name='post[parent]', value=parent.id)
  label Comment:
  br
  textarea(name='post[comment]')
  br
  input(type='submit', value='Submit')
