h2= title
form(method='post', action='/post')
  label Title:
  br
  input(type='text', name='post[title]')
  br
  label URL:
  br
  input(type='text', name='post[url]')
  br
  input(type='submit', value='Submit')
